/*
	Display Property - change the display of the element

	inline - consuming the width of the content

	block - consuming the full width of the page, thus creating line space for the next element; examples are divand text-blocks such as h1-h6 and p elements

	inline-block - works as inline element for its siblings but block elements outside its parent element. As long as the sibling elements are inline/inline-block, the inline-block elements will appear next to these elements

	none - hiding the element from the website and it will not be shown visually. If the element is visually removed, other elements will adjust their position
*/

#div-1{
	background-color: green;
}

#span-1{
	background-color: purple;
	display: none;
}

#span-2{
	background-color: red;
	display: none;
}

#div-2{
	background-color: pink;
	display: inline-block;
}

#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

#span-sample{
	background-color: gray;
	width: 60%;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.img-float{
	width: 250px;
	height: 250px;
	float: right;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

/*
	 rem - root element measurement. The measurement is relative to the root element which is the html.

	 Default: 16px;

	em - element measurement. The measurement is relative to its parent element.
*/

.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

/* The % unit is also based on the parent element */

.two-hundred-percent{
	font-size: 200%;
}

/* use the background class and refactor its elements to have minimum height of 100vh and background-color of gray

send the output in our google chat */

.background{
	height: 150vh;
	/*background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center top;
	/* this is use to set whether a background image scrolls with the rest of the page/fixed */
	background-attachment: scroll;
}

.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	/* get rid of space around the element*/
	margin: 0;
	line-height: 35rem;
	display: inline-block;
}

.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;

}

/* CSS POSITIONING */
/*
	static - default position for every element. This follows the normal flow of elements

	relative - although it is still following the normal flow, it is affected by the left, bottom, right and top measurements

	absolute - positioned relative to its parent elements. The element is removed from the normal document flow. The other elements will behave as if the element is not in the document. No space is created for the element

			 - the element is positioned to its closest positioned ancestor. That means that the parent element has to have a position value other than position:  static;

	fixed - similar to absolute in term of being removed from the normal flow. It is not affected by any parent element and instead it is baed on the element itself

	sticky - combination of relative and fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element
*/


.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
/*	position: static; normal flow. is not affected by left, bottom, top or right measurement*/
/*	position: relative; normal flow. is affected by left, bottom, top or right measurement*/
/*	position: absolute; not in normal flow. is affected by the parent/ancestor element's position*/
/* position: fixed; not in the normal flow. is relative to the position of the element itself*/
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

/*html{
	height: 800vh;
}*/

.container{
	position: relative;
}

/* 
	z-index will determine the order of the stack
 */

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{
	position: absolute;
	/* gray box is above the green and black box */
	z-index: 3;
	background:  lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	/* green box wil be above black box */
	z-index: 2;
	background:  lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
}