*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
	position: relative;

}

/*NAV SECTION*/

nav{
background-color: white;
padding: .8rem;
margin-bottom: 1rem;
list-style-type: none;
top: 0;
position: sticky;
z-index: 5;
}

nav .nav, nav .nav-logo{

	margin: .5rem;
	display: inline;

}

.right-nav{
	float: right;
	padding-right: 130px;
}


/* HEADER SECTION */

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 50vh;
	background-size: 100%;
	z-index: 1;
}


.front-bg {
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 50vh;
	z-index: 1;
}


.container{
	margin-left: 50%;
	margin-right: 120px;
}

.title{
	font-family: "Zilla Slab", serif;
	float: right;
	text-align: right;
	padding: .8rem;
	margin-left: 10vw;
	vertical-align: top;
	z-index: 3;
	color: white;
	font-size: 3rem;
}


.subtitle{
	float: right;
	text-align: right;
	padding: .8rem;
	margin-left: 30%;
	margin-bottom: 2rem;
	vertical-align: top;
	z-index: 3;
	color: white;
	font-size: 1.3rem;
}

.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.7rem;
	border: 0px solid #c2195b;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.7rem;
	border: 0px solid #c2195b;
/*	float: right;*/
	margin-left: auto;
	display: block;
}


.background-image{
	height: 80rem;
	width: 100vw;
}





/*  body section */


.title-2{
	font-family: "Zilla Slab", serif;
	text-align: center;
	padding: 25px;
	margin-left: 20vw;
	margin-right: 20vw;

}

.intro-description{
	text-align: center;
	padding: 25px;
	margin-left: 20vw;
	margin-right: 20vw;
}

/* PRE-FOOTER SECTION */

.pre-footer{
	background-color: #f7fbfb;
	padding: 25px;
	margin: 80x;
}

.prefooter-description{
	text-align: center;
	padding: 25px;
	margin-left: 20vw;
	margin-right: 20vw;
}

.book-button{
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.7rem;
	border: 0px solid #336589;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 160px;
	display: block;
	width: 160px;
}

/* footer */

footer{
	padding: .3rem;
	text-align: center;
}

/*footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}*/